<div class="modal-body">
   <div class="form-group">
      <input ng-model="modalEdit.practiceSet.title" tamodelex="1" required="" class="form-control" />
   </div>
   <div class="form-group">
      <input ng-model="modalEdit.practiceSet.description.translations[user.speaks]" class="form-control" />
   </div>
   <div class="form-group">
      <select ng-model="modalEdit.practiceSet.category" name="category" required="" class="form-control">
         <option value="" selected="" disabled="">Category</option>
         <option value="memorize">Memorize</option>
         <option value="tandem">Tandem</option>
         <option value="live">Live</option>
      </select>
   </div>
   <!-- Add new question START-->
   <div class="add-question-widget">
      <a ng-click="showAddQuestion = !showAddQuestion" class="fa fa-plus-circle nounderline">
         <small>Add Question</small>
      </a>
      <div ng-show="showAddQuestion">
         <h4 translate-text="translate-text" model="modalEdit.newQuestion.speaksText" send="true" model-translation="modalEdit.newQuestion.learningText" to="{{ session.learning }}" allow-change="false" initial-text="click here to enter english version"></h4>
         <h4 translate-text="translate-text" model="modalEdit.newQuestion.learningText" send="true" model-translation="modalEdit.newQuestion.speaksText" to="{{ session.speaks }}" allow-change="false" initial-text="click here to enter german version"></h4>
         <button ng-click="modalEdit.saveQuestion()" class="btn btn-sm btn-success">Add</button>
      </div>
   </div>
   <!-- Add new question END-->
   <uib-tabset type="pills">
      <uib-tab heading="Added ({{ modalEdit.practiceSet.questions.length }})">
         <div class="panel panel-default">
            <div class="panel-heading">
               <input type="text" ng-model="modalEdit.addedSearchText" ng-change="modalEdit.search(true)" placeholder="Search Added Questions" class="form-control" />
               <div class="small">Search Results ({{ modalEdit.addedTotalAvailable }})</div>
            </div>
            <div class="table-responsive scroll-table">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr>
                        <th check-all="check-all">
                           <div data-toggle="tooltip" data-title="Check All" class="checkbox c-checkbox">
                              <label>
                                 <input type="checkbox" ng-click="modalEdit.addedToggleAll()" />
                                 <span class="fa fa-check"></span>
                              </label>
                           </div>
                        </th>
                        <th>Description
                           <div ng-show="modalEdit.addedSelected.length" ng-click="modalEdit.removeAllSelected()" class="btn btn-sm btn-info pull-right">Remove</div>
                        </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="item in modalEdit.practiceSet.questions">
                        <td>
                           <div class="checkbox c-checkbox">
                              <label>
                                 <input type="checkbox" value="item._id" ng-click="modalEdit.addedToggleSelected(item._id)" ng-checked="modalEdit.addedSelected.indexOf(item._id) &gt; -1" />
                                 <span class="fa fa-check"></span>
                              </label>
                           </div>
                        </td>
                        <td>
                           <div class="media-box">
                              <a href="#" class="pull-left">
                                 <img src="app/img/dummy.png" alt="" class="media-box-object img-responsive img-rounded thumb64" />
                              </a>
                              <div class="media-box-body">
                                 <div ng-click="modalEdit.removeQuestion(item)" class="pull-right btn btn-info btn-sm">Remove</div>
                                 <h4 class="media-box-heading">{{ ::item.text.translations[user.learning] }}</h4>
                                 <small ng-if="app.translation.show" class="text-muted">{{ ::item.text.translations[user.speaks] }}</small>
                                 <p>{{ ::item.description.translations[user.learning] }}</p>
                              </div>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="panel-footer">
               <div class="row">
                  <div class="col-lg-2">
                     <button ng-click="modalEdit.clearQuestions()" class="btn btn-sm btn-default">Clear</button>
                  </div>
                  <div class="col-lg-4"></div>
                  <div class="col-lg-6 text-right"></div>
               </div>
            </div>
         </div>
      </uib-tab>
      <!-- ADDED Panel END-->
      <uib-tab heading="Available">
         <!-- START panel-->
         <div class="panel panel-default">
            <div class="panel-heading">
               <input type="text" ng-model="modalEdit.searchText" ng-change="modalEdit.search()" placeholder="Search Questions" class="form-control" />
               <div class="small">Search Results ({{ modalEdit.totalAvailable }})</div>
            </div>
            <!-- START table-responsive-->
            <div class="table-responsive scroll-table">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr>
                        <th check-all="check-all">
                           <div data-toggle="tooltip" data-title="Check All" class="checkbox c-checkbox">
                              <label>
                                 <input type="checkbox" ng-click="modalEdit.toggleAll()" />
                                 <span class="fa fa-check"></span>
                              </label>
                           </div>
                        </th>
                        <th>Description
                           <div ng-show="modalEdit.selected.length" ng-click="modalEdit.addAllSelected()" class="btn btn-sm btn-info pull-right">Add</div>
                        </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="item in modalEdit.availableQuestions">
                        <td>
                           <div class="checkbox c-checkbox">
                              <label>
                                 <input type="checkbox" value="item._id" ng-click="modalEdit.toggleSelected(item._id)" ng-checked="modalEdit.selected.indexOf(item._id) &gt; -1" />
                                 <span class="fa fa-check"></span>
                              </label>
                           </div>
                        </td>
                        <td>
                           <div class="media-box">
                              <a href="#" class="pull-left">
                                 <img src="app/img/dummy.png" alt="" class="media-box-object img-responsive img-rounded thumb64" />
                              </a>
                              <div class="media-box-body">
                                 <div ng-click="modalEdit.addQuestion(item)" class="pull-right btn btn-info btn-sm">Add</div>
                                 <h4 class="media-box-heading">{{ ::item.text.translations[user.learning] }}</h4>
                                 <small ng-if="app.translation.show" class="text-muted">{{ ::item.text.translations[user.speaks] }}</small>
                                 <p>{{ ::item.description.translations[user.learning] }}</p>
                              </div>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <!-- END table-responsive-->
            <div class="panel-footer">
               <div class="row">
                  <div class="col-lg-2">
                     <button class="btn btn-sm btn-default">Clear</button>
                  </div>
                  <div class="col-lg-1"></div>
                  <div class="col-lg-9 text-right"></div>
               </div>
            </div>
         </div>
         <!-- END panel-->
      </uib-tab>
   </uib-tabset>
</div>
<div class="modal-footer">
   <button ng-click="modalEdit.savePracticeSet(); $close()" class="btn btn-success">Save</button>
   <button ng-click="$close()" class="btn btn-default">Cancel</button>
</div>