<h3>
   Image Select
   <small>Select an image from search results, or upload one</small>
</h3>
<div class="container-fluid">
   <div ui-scroll-viewport="" style="height:400px; overflow-y: auto;" class="row">
      <div ng-repeat="result in imageSelect.searchResults" class="col-xs-3">
         <div class="photo">
            <div ng-click="result.showIndex = !result.showIndex">
               <div data-ng-if="result.showIndex" class="photo-index">
                  <p>{{ result.snippet }}</p>
               </div>
               <div class="photo-wrapper">
                  <img src="" ng-src="{{ result.link }}" imageloaded="" loadedclass="photoloaded" class="img-responsive" />
                  <div class="photo-loader">
                     <div class="sk-spinner sk-spinner-rotating-plane"></div>
                  </div>
               </div>
               <div class="photo-description">
                  <h5>{{ result. displayLink}}</h5>
                  <p>
                     <small>Nice photo, eh.</small>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button type="button" ng-click="closeThisDialog(0)" class="btn btn-danger btn-large">Cancel</button>
   <button type="button" ng-click="confirm(1)" class="btn btn-success btn-large">Save</button>
</div>