<div class="panel-body">
   <div class="col-sm-2">
      <h3>{{ modalPlay.score }}</h3>
      <img src="app/img/friends/yellow-tooth.png" ng-hide="modalPlay.fail" />
      <img src="app/img/friends/yellow-effed-up.png" ng-show="modalPlay.fail" />
   </div>
   <div class="col-sm-10">
      <h4 ng-hide="modalPlay.showComplete">Can you translate this?</h4>
      <h4 ng-show="modalPlay.showComplete">Congrats, you finished with {{ modalPlay.score }} points</h4>
      <p>You can type your answer, or turn on speech detection and try speaking the answer.</p>
      <div ng-show="modalPlay.fail">
         <p>Hmmm, that doesn't sound right to me. Sorry, {{ modalPlay.answer }} is incorrect.</p>
      </div>
      <div ng-show="modalPlay.pass">
         <p>Nice, {{ modalPlay.answer }} that works for me!</p>
      </div>
      <div class="text-center">
         <h2>{{ modalPlay.practiceSession.currentQuestion.text.translations[session.learning] }}</h2>
         <input ng-model="modalPlay.answer" />
         <button ng-click="modalPlay.submitAnswer()" class="btn btn-default">Submit</button>
      </div>
      <div>
         <a ng-show="app.audio.speechRecognition" ng-click="modalPlay.toggleSpeechRecognition()" class="fa fa-toggle-on nounderline"></a>
         <a ng-hide="app.audio.speechRecognition" ng-click="modalPlay.toggleSpeechRecognition()" class="fa fa-toggle-off nounderline"></a>
         <span>Speech Detection</span>
         <h5 class="text-center">{{modalPlay.speechRecognitionResults}}</h5>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button ng-click="modalPlay.loadNextQuestion()" class="btn btn-default">Next</button>
   <button ng-click="$close()" class="btn btn-default">Cancel</button>
</div>