<html>

<body>
   <div class="modal-header">
      <h3 class="modal-title">Let's Chat!</h3>
   </div>
   <div class="modal-body">
      <div ng-hide="modalPlay.showComplete">
         <h3 popover-trigger="mouseenter" popover-title="What now?" uib-popover="After a question is played click the microphone to record and answer" class="center"><i class="fa fa-2x fa-comments"></i>
            <span ng-show="modalPlay.practiceSession.lastQuestion">Last Question!</span>
         </h3>
      </div>
      <!-- AUDIO PLAYER-->
      <div id="centered-player" ng-hide="modalPlay.showComplete">
         <div class="inline-block">
            <div class="inline-block">
               <div>
                  <user-pin user="modalPlay.practiceSession.currentQuestion.currentRecording.submitted_by"></user-pin>
               </div>
               <div>
                  <h5>
                     <span>asks</span>
                  </h5>
               </div>
            </div>
            <div class="bubble-left inline-block">
               <p>{{ modalPlay.practiceSession.currentQuestion.text.translations[modalPlay.learningCode] }}</p>
               <div ng-show="modalPlay.showPlayer" class="player inline-block padded">
                  <audio-player on-play="modalPlay.playerStarted()" on-stop="modalPlay.playerFinished()" context="question" auto-play="true" url="{{ modalPlay.audioUrl }}"></audio-player>
               </div>
            </div>
         </div>
         <!-- recorder-->
         <div ng-show="modalPlay.showRecorder" class="recorder inline-block">
            <recorder question="modalPlay.recordingQuestion" question-type="object" context="answer" auto-play="true" language="{{ modalPlay.learningCode }}" on-start-record="modalPlay.recordingStarted()" on-stop-record="modalPlay.recordingFinished()" on-save="modalPlay.audioSaved(newRecording)"></recorder>
         </div>
         <!-- end recorder-->
      </div>
      <!-- END AUDIO PLAYER-->
      <div>
         <a ng-show="modalPlay.speechDetection" ng-click="modalPlay.toggleSpeechDetection()" class="fa fa-toggle-on nounderline"></a>
         <a ng-hide="modalPlay.speechDetection" ng-click="modalPlay.toggleSpeechDetection()" class="fa fa-toggle-off nounderline"></a>
         <span uib-popover="Enables speech detection to assist in proper pronunciation.         While not perfect, its kind of fun!  Give a shot        before you start recording your response." popover-trigger="mouseenter" popover-title="Speech Detection"
         class="date-sm">Speech Detection</span>
      </div>
      <h5 ng-show="modalPlay.showTranscription" class="center">{{modalPlay.speechRecognitionResults}}</h5>
      <div ng-show="modalPlay.showComplete">
         <h3>Nice work!</h3>
         <p>Now you can submit this practice session for grading and see how well you did.</p>
         <div class="center">
            <a ng-click="$close()" class="padded fa fa-3x fa-thumbs-down nounderline"></a>
            <a ng-click="modalPlay.savePracticeSession(); $close();" class="padded fa fa-3x fa-thumbs-up nounderline"></a>
         </div>
      </div>
      <hr/><a ng-click="modalPlay.showQuestions = !modalPlay.showQuestions" tooltip="Delete All Questions" class="nounderline"><i ng-hide="modalPlay.showQuestions" class="fa fa-plus-square-o"></i><i ng-show="modalPlay.showQuestions" class="fa fa-minus-square-o"></i></a>
      <h4
      class="inline-block">Questions ({{ modalPlay.playingPracticeSet.questions.length }})</h4>
         <ul ng-show="modalPlay.showQuestions" class="list-unstyled">
            <li ng-repeat="question in modalPlay.playedQuestions">
               <div>
                  <div class="inline-block">
                     <div class="pull-left">
                        <user-pin user="question.currentRecording.submitted_by"></user-pin>
                     </div>
                     <div class="pull-right">
                        <h5>
                           <span>asks</span>
                        </h5>
                        <p class="date-sm">{{ question.currentRecording._created | niceDate }}</p>
                     </div>
                  </div>
                  <div class="bubble-left inline-block">
                     <p>{{ question.text.translations[modalPlay.learningCode] }}</p>
                  </div>
               </div>
            </li>
            <!-- end ng-repeat questions-->
         </ul>
         <!-- end question-list-->
   </div>
   <div class="modal-footer">
      <button ng-click="$close()" class="btn btn-default">Cancel</button>
   </div>
</body>

</html>