<div class="modal-header">
   <h3 class="modal-title">Schedule Practice</h3>
</div>
<div class="modal-body">
   <h4>When do you want to practice, we'll give you a call</h4>
   <div class="row">
      <div style="margin-top: 35px;" class="col-md-6">
         <p class="input-group">
            <input type="text" uib-datepicker-popup="{{modalSchedule.format}}" ng-model="modalSchedule.scheduleDate" is-open="modalSchedule.opened" min-date="modalSchedule.minDate" datepicker-options="modalSchedule.dateOptions" ng-required="true" close-text="Close"
            class="form-control" />
            <span class="input-group-btn">
               <button type="button" ng-click="modalSchedule.open($event)" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i>
               </button>
            </span>
         </p>
      </div>
      <div class="col-md-3">
         <uib-timepicker ng-model="modalSchedule.scheduleDate" hour-step="1" minute-step="1" show-meridian="ismeridian"></uib-timepicker>
      </div>
   </div>
</div>
<div class="modal-footer">
   <button ng-click="modalSchedule.saveSchedule(); $close()" class="btn btn-success">Save</button>
   <button ng-click="$close()" class="btn btn-default">Cancel</button>
</div>