<div class="container">

  <h4>What is TandemNet</h4>
  <p>Tandem is a foreign language app that focuses on <b>practice</b>, rather than learning, through asyncronous speaking and listening.  While most existing tandem programs focus on connecting learners with individual tandem partners, this app allows learners to practice with the entire Tandem network, at any time, without having to commit to a specific partner or a mutual time schedule.</p>

  <h4>How it works</h4>
  <p>Tandem utilizes user submitted audio recordings to simulate a live language tandem session anytime.  Plan your Tandem sessions by creating Practice Sets and selecting questions that you would like to be asked.  When you are ready to practice a new Tandem session will be created with random audio for each question from a native speaker of the language you are learning.  All activity during the session will be recorded for later review and grading.</p>

  <p>Maximize results by scheduling your Practice Sets on a regular basis.  Tandem can even deliver your Practice Sets to your mobile via a mobile call (no app required, and all activity will be recorded for review)</p>

  <p>Getting started is easy, just sign up and you can start speaking immediately with a predefined Introduction Practice Set which includes some basic questions that help users get to know one another.</p>

  <p>You can also very easily create your own Practice Sets in three simple steps.</p>
  <ul>
    <li>Create a Practice Set.</li>
    <li>Choose which questions you would like to be asked and add them your practice set.  (You will be asked to record the question in both your spoken and learning language)</li>
    <li>Schedule your Practice Set or play it in your browser.</li>
  </ul>

</div>
