<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="fa fa-lg fa-pencil"> Transcribe Recording</h5>
  </div>
  <div class="panel-body">

    <p><small><i class="fa fa-2x fa-plus-square text-primary"></i> - <em>Add the question to a Practice Set**</em>.
    </small></p>

    <hr />

    <h5>Other transcriptions</h5>
    <p><small>List other transcriptions here with highlighted
      matching text.
    </small></p>

  </div>
  <div class="panel-footer center">
    <button 
      ng-click="$close()"
      class="btn btn-default">Close</button>
  </div>
</div>
