<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="fa fa-lg fa-question-circle"> Review Help</h5>
  </div>
  <div class="panel-body">

    <p><small><i class="fa fa-2x fa-play text-primary"></i> - Play an audio segment.
    </small></p>

    <p><small><i class="glyphicon glyphicon-star"></i> - Rate an audio segent.
    </small></p>

    <p><small><i class="fa fa-2x fa-pencil text-primary"></i> - Transcribe an audio segment.
    </small></p>

    <hr />

    <h5>Rating Recordings</h5>
    <p><small>Rating recordings helps other Tandem users by giving them feedback on their
      speaking skills, but also improves your listening skills by giving you an 
      opportunity to hear a mix of both native speakers and fellow languge
      learners.  The rating system is a standard 5 star system but each star
      has a specific meaning.  Please keep in mind that sometimes every day
      speech doesn't always follow perfect grammer rules, and sometimes slang
      will be used, and infact preferred by some language learners.
    </small></p>

    <h5>Commenting Recording</h5>
    <p><small>Use comments to give specific feedback to users about their
      pronunciation, grammer, and word choice.  You can also use comments
      to ask questions and learn more yourself, if you hear something you
      don't understand, like a slang phrase or idiom.
    </small></p>

    <h5>Transcribing Recording</h5>
    <p><small>To improve your listening skills you can transcribe answer audio.  Just 
      listen to the recording and type in what you hear.  If you can not understand the
      audio grade the answer accordingly, or use comments to request clarification
      if you are unsure wether or not something is correct, or its just a phrase 
      or word you are not familiar with.
    </small></p>

  </div>
  <div class="panel-footer center">
    <button 
      ng-click="$close()"
      class="btn btn-default">Close</button>
  </div>
</div>
