<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="fa fa-lg fa-question-circle"> Practice Sets Help</h5>
  </div>
  <div class="panel-body">

    <p><small><i class="fa fa-2x fa-play text-primary"></i> - Play the practice set in the browser.
    </small></p>

    <p><small><i class="fa fa-2x fa-calendar text-primary"></i> - Schedule the practice set for later via mobile call.
    </small></p>

    <hr />

    <h5>What are Practice Sets</h5>
    <p><small>Practice Sets are collections of questions that can be played  
      to simulate a live language tandem.  Playing starts a question / answer session where 
      each question in the set is played with randomly selected audio from the Tandem
      network.  After each question you will be prompted to replay to the question
      and your answer will be recorded and stored for grading by
      the Tandem community.
    </small></p>

    <h5>Scheduling a Practice Set</h5>
    <p><small>Scheduling a Practice Set allows you to practice via mobile
      using a standard mobile phone call.  Scheduled sessions play exactly as
      they do when played in the browser, however, there will be a short beep
      after each question indicating when your answer will start recording.
      Just as in browser play, your answers will be recorded and stored for
      grading.
    </small></p>
    <p><small><em>Standard mobile to mobile rates will apply during Scheduled
      practice session**
    </em></small></p>

  </div>
  <div class="panel-footer center">
    <button 
      ng-click="$close()"
      class="btn btn-default">Close</button>
  </div>
</div>
