<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="fa fa-lg fa-question-circle"> Question Help</h5>
  </div>
  <div class="panel-body">

    <p><small><i class="fa fa-2x fa-volume-up text-primary"></i> - Play existing audio for the question.
    </small></p>

    <p><small><i class="fa fa-2x fa-plus-square text-primary"></i> - <em>Add the question to a Practice Set**</em>.
    </small></p>

    <p><small><i class="fa fa-2x fa-microphone text-primary"></i> - Open the recording dialog.
    </small></p>
    
    <p><small><flag-icon language-code="de"></flag-icon> - Flip question card between speaking and learning languages.
    </small></p>

    <hr />

    <h5>Adding a Question to a Practice Set</h5>
    <p><small><b><em>If you'd like to include a question in one of your Practice Sets you'll need 
      to record your own audio for the question in both your spoken and learning 
      language**</em></b>.  If you are not comfortable with the pronunciation of the question 
      in your learning language you can play existing audio for the question.
    </small></p>
    <p><small> Once you have recorded audio
      for both your spoken and learning languages you will then be able to add
      the question to one of your existing Practice Sets.
    </small></p>

  </div>
  <div class="panel-footer center">
    <button 
      ng-click="$close()"
      class="btn btn-default">Close</button>
  </div>
</div>
