<!-- card -->
<div class="card col-md-6">
  <div class="front">
    <div class="pull-right">
      <span 
        class="label flag-label">
          <span
            ng-attr-class="{{ 'flag-icon flag-icon-' + flag }}"></span> {{ audio.languageCode | uppercase }} 
      </span>
    </div>
    <div class="question-text">
      <h5 class="inline-block">{{ audio.question.text.translations[audio.languageCode] }}</h5>
      <a
        ng-show="isAdmin"
        ng-click="removeRecording(audio.id)"
        class="fa fa-trash-o nounderline"></a>
    </div>

    <!-- start toolbars front -->
    <div 
      class="tool-bar row">
      <div 
        ng-hide="audio.showPreviewControls"
        class="col-md-4">
        <a  
          ng-click="togglePreview()"
          class="fa fa-2x fa-volume-up nounderline"></a>
      </div>
      <div
          ng-show="audio.showPreviewControls" 
          ng-click="togglePreview()"
          class="col-md-4">
        <a  
          class="fa fa-2x fa-volume-off nounderline"></a>

        <!-- AUDIO PLAYER -->
        <div class="player inline-block">
          <a
            ng-show="playing"
            ng-click="pausePreview()"
            class="fa fa-2x fa-pause nounderline"></a>
          <a
            ng-hide="playing"
            ng-click="playPreview()"
            class="fa fa-2x fa-play nounderline"></a>
        </div>
        <!-- AUDIO PLAYER -->

      </div>

      <div class="col-md-8 pull-right">
        <p>
          {{ audio.context }} by 
          <img 
             class="img-circle profile-img-xsm" 
             src="data:image/png;base64,{{ audio.submittedBy.image }}">
          {{ audio.submittedBy.username }} on
          {{ audio.created | date: 'shortDate'}}
        </p>
        
      </div>
    </div><!-- end toolbar for audio -->
  </div><!-- end front -->

  <div class="back">
    <div class="pull-right">
      <span 
        class="label flag-label">
        <span
          ng-attr-class="{{ 'flag-icon flag-icon-' + flag }}"></span> {{ audio.languageCode }} 
      </span>
    </div>
    <div class="question-text">
      <h5 class="inline-block">{{ audio.question.text.translations[audio.languageCode] }}</h5>
      <a
        ng-show="isAdmin"
        ng-click="removeRecording(audio.id)"
        class="fa fa-trash-o nounderline"></a>
    </div>

    <!-- back content here -->

  </div><!-- end back -->

</div><!-- end audio-card -->

