<!-- AUDIO PLAYER-->
<div id="centered-player">
   <div id="spinner" ng-show="audioPlayerCtrl.processing" class="inline-block">
      <div id="block_1" class="spinner_block"></div>
      <div id="block_2" class="spinner_block"></div>
      <div id="block_3" class="spinner_block"></div>
   </div>
   <div class="inline-block">
      <a ng-show="audioPlayerCtrl.playingQuestion" ng-click="audioPlayerCtrl.pauseQuestion()" class="fa fa-2x fa-pause nounderline"></a>
      <a tooltip="play question" ng-show="audioPlayerCtrl.showPlayQuestion" ng-click="audioPlayerCtrl.playQuestion()" class="fa fa-2x fa-play nounderline"></a>
      <a tooltip="play answer" ng-show="audioPlayerCtrl.showPlayAnswer" ng-click="audioPlayerCtrl.playAnswer()" class="fa fa-2x fa-play nounderline"></a>
      <a ng-show="audioPlayerCtrl.playingAnswer" ng-click="audioPlayerCtrl.pauseAnswer()" class="fa fa-2x fa-pause nounderline"></a>
   </div>
   <div ng-show="audioPlayerCtrl.timeline">
      <div class="input-group">
         <span tooltip="add timeline comment" popup-placement="top" popup-show="views/popover-timeline-comment.html" class="input-group-addon timeline-input-group-addon"><i class="fa fa-comment"></i>
         </span>
         <input type="range" min="0" max="1" step="0.01" ng-model="audioPlayerCtrl.player.progress" class="form-control timeline-form-control" />
      </div>
      <div class="col-sm-12">
         <div class="timeline-comments-container">
            <comment-timeline comments="audioPlayerCtrl.comments" recording="audioPlayerCtrl.recording" type="info" class="timeline-comments"></comment-timeline>
         </div>
      </div>
   </div>
</div>
<!-- END AUDIO PLAYER-->