<!-- START widgets box-->
<div ng-controller="DashboardController as dashboard" class="content">
   <div class="row">
      <div class="col-lg-3 col-sm-6">
         <!-- START widget-->
         <div class="panel widget bg-primary">
            <div class="row row-table">
               <div class="col-xs-4 text-center bg-primary-dark pv-lg">
                  <em class="icon-cloud-upload fa-3x"></em>
               </div>
               <div class="col-xs-8 pv-lg">
                  <div class="h2 mt0">{{ user.totalRecordings }}</div>
                  <div class="text-uppercase">Audio Recordings</div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-sm-6">
         <!-- START widget-->
         <div class="panel widget bg-purple">
            <div class="row row-table">
               <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                  <em class="icon-globe fa-3x"></em>
               </div>
               <div class="col-xs-8 pv-lg">
                  <div class="h2 mt0">{{ user.totalPracticeSessions }}</div>
                  <div class="text-uppercase">Practice Sessions</div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
         <!-- START widget-->
         <div class="panel widget bg-green">
            <div class="row row-table">
               <div class="col-xs-4 text-center bg-green-dark pv-lg">
                  <em class="icon-bubbles fa-3x"></em>
               </div>
               <div class="col-xs-8 pv-lg">
                  <div class="h2 mt0">{{ user.totalRatings }}</div>
                  <div class="text-uppercase">Ratings</div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
         <!-- START widget-->
         <div class="panel widget">
            <div class="row row-table">
               <div class="col-xs-4 text-center bg-green pv-lg">
                  <em class="icon-bubbles fa-3x"></em>
               </div>
               <div class="col-xs-8 pv-lg">
                  <div class="h2 mt0">{{ user.understandable }}%</div>
                  <div class="text-uppercase">Understandable</div>
               </div>
            </div>
         </div>
         <!-- END widget    -->
      </div>
   </div>
   <!-- END widgets box-->
   <div class="row">
      <!-- START dashboard main content-->
      <div class="col-lg-9"></div>
      <!-- START dashboard sidebar-->
      <aside class="col-lg-3">
         <!-- START messages and activity-->
         <div class="panel panel-default">
            <div class="panel-heading">
               <div class="panel-title">Latest activities</div>
            </div>
            <!-- START list group-->
            <div class="list-group">
               <!-- START list group item-->
               <div class="list-group-item">
                  <div class="media-box">
                     <div class="pull-left">
                        <span class="fa-stack">
                           <em class="fa fa-circle fa-stack-2x text-purple"></em>
                           <em class="fa fa-cloud-upload fa-stack-1x fa-inverse text-white"></em>
                        </span>
                     </div>
                     <div class="media-box-body clearfix">
                        <small class="text-muted pull-right ml">15m</small>
                        <div class="media-box-heading"><a href="#" class="text-purple m0">NEW FILE</a>
                        </div>
                        <p class="m0">
                           <small><a href="#">Bootstrap.xls</a>
                           </small>
                        </p>
                     </div>
                  </div>
               </div>
               <!-- END list group item-->
               <!-- START list group item-->
               <div class="list-group-item">
                  <div class="media-box">
                     <div class="pull-left">
                        <span class="fa-stack">
                           <em class="fa fa-circle fa-stack-2x text-info"></em>
                           <em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
                        </span>
                     </div>
                     <div class="media-box-body clearfix">
                        <small class="text-muted pull-right ml">2h</small>
                        <div class="media-box-heading"><a href="#" class="text-info m0">NEW DOCUMENT</a>
                        </div>
                        <p class="m0">
                           <small><a href="#">Bootstrap.doc</a>
                           </small>
                        </p>
                     </div>
                  </div>
               </div>
               <!-- END list group item-->
               <!-- START list group item-->
               <div class="list-group-item">
                  <div class="media-box">
                     <div class="pull-left">
                        <span class="fa-stack">
                           <em class="fa fa-circle fa-stack-2x text-danger"></em>
                           <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
                        </span>
                     </div>
                     <div class="media-box-body clearfix">
                        <small class="text-muted pull-right ml">5h</small>
                        <div class="media-box-heading"><a href="#" class="text-danger m0">BROADCAST</a>
                        </div>
                        <p class="m0"><a href="#">Read</a>
                        </p>
                     </div>
                  </div>
               </div>
               <!-- END list group item-->
               <!-- START list group item-->
               <div class="list-group-item">
                  <div class="media-box">
                     <div class="pull-left">
                        <span class="fa-stack">
                           <em class="fa fa-circle fa-stack-2x text-success"></em>
                           <em class="fa fa-clock-o fa-stack-1x fa-inverse text-white"></em>
                        </span>
                     </div>
                     <div class="media-box-body clearfix">
                        <small class="text-muted pull-right ml">15h</small>
                        <div class="media-box-heading"><a href="#" class="text-success m0">NEW MEETING</a>
                        </div>
                        <p class="m0">
                           <small>On
                              <em>10/12/2015 09:00 am</em>
                           </small>
                        </p>
                     </div>
                  </div>
               </div>
               <!-- END list group item-->
               <!-- START list group item-->
               <div class="list-group-item">
                  <div class="media-box">
                     <div class="pull-left">
                        <span class="fa-stack">
                           <em class="fa fa-circle fa-stack-2x text-warning"></em>
                           <em class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em>
                        </span>
                     </div>
                     <div class="media-box-body clearfix">
                        <small class="text-muted pull-right ml">1w</small>
                        <div class="media-box-heading"><a href="#" class="text-warning m0">TASKS COMPLETION</a>
                        </div>
                        <uib-progressbar value="22" type="warning" class="progress-xs m0">22%</uib-progressbar>
                     </div>
                  </div>
               </div>
               <!-- END list group item-->
            </div>
            <!-- END list group-->
            <!-- START panel footer-->
            <div class="panel-footer clearfix">
               <a href="#" class="pull-left">
                  <small>Load more</small>
               </a>
            </div>
            <!-- END panel-footer-->
         </div>
         <!-- END messages and activity-->
      </aside>
      <!-- END dashboard sidebar-->
   </div>
</div>