<div class="modal-header">
  <h3 class="modal-title">Create a Question</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <div class="input-group">
      <input 
         ng-model="questionsCtrl.newQuestion.speaksText"
         type="text" 
         class="form-control input-lg" 
         placeholder="{{questionsCtrl.speaksCode}} Text" 
         tamodelex="3">
      <span
        ng-click="questionsCtrl.translateQuestion(questionsCtrl.newQuestion.speaksText, 'speaks')"
        class="input-group-addon"
        id="basic-addon2">translate</span>
    </div>
    <ul
      ng-repeat="match in questionsCtrl.newQuestion.speaksTranslations" 
      class="more-translations speaks list-unstyled">
        <li>
          {{ match.segment }} :
          {{ match.translation }}
        </li>
    </ul>
  </div>

  <div class="form-group">
    <div class="input-group">
      <input 
         ng-model="questionsCtrl.newQuestion.learningText"
         type="text" 
         class="form-control input-lg" 
         placeholder="{{questionsCtrl.learningCode}} Text" 
         tamodelex="3">
      <span
        ng-click="questionsCtrl.translateQuestion(questionsCtrl.newQuestion.learningText, 'learning')"
        class="input-group-addon"
        id="basic-addon2">translate</span>
    </div>
    <ul
      ng-repeat="match in questionsCtrl.newQuestion.learningTranslations" 
      class="more-translations learning list-unstyled">
        <li>{{ match.segment }} : {{ match.translation }}</li>
    </ul>
  </div>

  <div class="form-group">
    <select 
      ng-model="questionsCtrl.newQuestion.category"
      name="category"
      class="form-control"
      tamodelex="1" required>
      <option value="" selected disabled>Category</option>
      <option value="word">Word</option>
      <option value="phrase">Phrase</option>
    </select>
  </div>

</div>
<div class="modal-footer">
  <button 
    ng-click="questionsCtrl.createQuestion(); $close();"
    class="btn btn-success">Create</button>
  <button class="btn btn-default" ng-click="$close()">Cancel</button>      
</div>

