<div class="modal-header">
  <h3 class="modal-title">My Comments</h3>
</div>
<div class="modal-body">
  <div ng-repeat="comment in modalMyCommentsCtrl.comments">
    <div class="row comment-list-item">
      <div class="col-sm-1 comment-list-profile">
        <user-pin user="comment.submitted_by"></user-pin>
      </div>
      <div class="col-sm-2">
        <p class="date-sm">on {{ comment._created | niceDate }} commented on</p>
      </div>
      <div class="col-sm-1">
        <audio-player url="{{modalMyCommentsCtrl.rootRecordingUrl + comment.parent}}" context="answer" />
        </audio-player>
      </div>
      <div class="col-sm-5">
        <small>"{{ comment.text }}"</small>
      </div>
      <div class="col-md-3">
        <a
          class="fa fa-2x fa-comments text-primary nounderline spaced" 
          ng-click="modalMyCommentsCtrl.showComment(comment.parent)"
          tooltip="comment"></a>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button 
    ng-click="$close();"
    class="btn btn-success">Done</button>
</div>
