<div class="modal-header">
  <h3 class="modal-title">Add Question Recording</h3>
</div>
<div class="modal-body">
  <div id="add-question-body">

    <accordion close-others="true">
      <accordion-group 
        ng-class="{ 
          'panel-success': modalAddQuestionCtrl.hasLearningRecording,
          'panel-danger': !modalAddQuestionCtrl.hasLearningRecording 
        }"
        is-open="modalAddQuestionCtrl.learningTabActive">
        <accordion-heading>
          <i
            ng-show="modalAddQuestionCtrl.learningTabActive" 
            class="fa fa-minus-square-o"></i>
          <i
            ng-hide="modalAddQuestionCtrl.learningTabActive" 
            class="fa fa-plus-square-o"></i>
          {{ modalAddQuestionCtrl.recordingQuestion.text.translations[modalAddQuestionCtrl.learningCode] }}
          <span class="pull-right">
            <flag-icon language-code="{{ modalAddQuestionCtrl.learningCode }}" />
          </span>
          <i
            ng-show="modalAddQuestionCtrl.hasLearningRecording" 
            class="pull-right fa fa-check"></i>
        </accordion-heading>
        <div
          ng-hide="modalAddQuestionCtrl.hasLearningRecording">
          <h4>Ok, lets add some audio! Just click the microphone and read the question.</h4>
          <h2>
            {{ modalAddQuestionCtrl.recordingQuestion.text.translations[modalAddQuestionCtrl.learningCode] }}
          </h2>
          <recorder 
            question="modalAddQuestionCtrl.recordingQuestion" 
            question-type="object"
            context="question"
            auto-play="true"
            language="{{ modalAddQuestionCtrl.learningCode }}"
            on-stop-record="modalAddQuestionCtrl.learningRecordStop()"
            on-save="modalAddQuestionCtrl.learningSaved()">
        </div>

        <div
          ng-show="modalAddQuestionCtrl.hasLearningRecording">
          <div class="inline-block">
            <div class="pull-left">
              <user-pin
                image-class="img-circle profile-img-sm"
                user="modalAddQuestionCtrl.currentUser">
              </user-pin>
            </div>
            <div class="pull-right">
              <h5><span>recorded</span></h5>
              <p class="date-sm">{{  modalAddQuestionCtrl.learningRecording._created | niceDate }}</p>
            </div>
          </div>

          <div class="audio-bubble-left inline-block">
            <audio-player 
              on-play="modalAddQuestionCtrl.playerStarted()"
              on-stop="modalAddQuestionCtrl.playerFinished()"
              context="question"
              auto-play="false"
              url="{{ modalAddQuestionCtrl.learningRecordingUrl }}">
            </audio-player>
          </div>

          <div class="inline-block">
            <a
              tooltip="record over"
              ng-click="modalAddQuestionCtrl.hasLearningRecording = !modalAddQuestionCtrl.hasLearningRecording"
              class="fa fa-2x fa-repeat nounderline"></a>
          </div>
        </div>

      </accordion-group><!-- end learning tab -->

      <accordion-group 
        ng-class="{ 
          'panel-success': modalAddQuestionCtrl.hasSpeaksRecording,
          'panel-danger': !modalAddQuestionCtrl.hasSpeaksRecording 
        }"
        is-open="modalAddQuestionCtrl.speaksTabActive"> 
        <accordion-heading> 
          <i
            ng-show="modalAddQuestionCtrl.speaksTabActive" 
            class="fa fa-minus-square-o"></i>
          <i
            ng-hide="modalAddQuestionCtrl.speaksTabActive" 
            class="fa fa-plus-square-o"></i>
          {{ modalAddQuestionCtrl.recordingQuestion.text.translations[modalAddQuestionCtrl.speaksCode] }}
          <span class="pull-right">
            <flag-icon language-code="{{ modalAddQuestionCtrl.speaksCode }}" />
          </span>
          <i
            ng-show="modalAddQuestionCtrl.hasSpeaksRecording" 
            class="pull-right fa fa-check"></i>
        </accordion-heading>
        <div
          ng-hide="modalAddQuestionCtrl.hasSpeaksRecording">
          <h2>
            {{ modalAddQuestionCtrl.recordingQuestion.text.translations[modalAddQuestionCtrl.speaksCode] }}
          </h2>

          <recorder 
            question="modalAddQuestionCtrl.recordingQuestion" 
            question-type="object"
            context="question"
            auto-play="true"
            language="{{ modalAddQuestionCtrl.speaksCode }}"
            on-stop-record="modalAddQuestionCtrl.speaksRecordStop()"
            on-save="modalAddQuestionCtrl.speaksSaved()">
        </div>

        <div
          ng-show="modalAddQuestionCtrl.hasSpeaksRecording">
          <div class="inline-block">
            <div class="pull-left">
              <user-pin user="modalAddQuestionCtrl.currentUser">
              </user-pin>
            </div>
            <div class="pull-right">
              <h5><span>recorded</span></h5>
              <p class="date-sm">{{  modalAddQuestionCtrl.speaksRecording._created | niceDate }}</p>
            </div>
          </div>

          <div class="audio-bubble-left inline-block">
            <audio-player 
              on-play="modalAddQuestionCtrl.playerStarted()"
              on-stop="modalAddQuestionCtrl.playerFinished()"
              context="question"
              auto-play="false"
              url="{{ modalAddQuestionCtrl.speaksRecordingUrl }}">
            </audio-player>
          </div>

          <div class="inline-block">
            <a
              tooltip="record over"
              ng-click="modalAddQuestionCtrl.hasSpeaksRecording = !modalAddQuestionCtrl.hasSpeaksRecording"
              class="fa fa-2x fa-repeat nounderline"></a>
          </div>
        </div>

      </accordion-group><!-- end speaks tab -->

      <accordion-group 
        is-disabled="modalAddQuestionCtrl.practiceSetTabDisabled"
        is-open="modalAddQuestionCtrl.practiceSetTabActive">
        <accordion-heading> 
          <i
            ng-show="modalAddQuestionCtrl.practiceSetTabActive" 
            class="fa fa-minus-square-o"></i>
          <i
            ng-hide="modalAddQuestionCtrl.practiceSetTabActive" 
            class="fa fa-plus-square-o"></i>
          <span class="fa fa-comment"></span>
          Practice Set
        </accordion-heading>
        <h4>Your Practice Sets</h4>
        <ul 
          class="practice-sets-list list-unstyled" 
          ng-repeat="practiceSet in modalAddQuestionCtrl.practiceSets">
          <li>
            <div>
              <a
                tooltip="Add to {{ practiceSet.title }}"
                ng-click="modalAddQuestionCtrl.addToPracticeSet(practiceSet)"
                class="fa fa-plus-square nounderline"></a>
              <h5 class="inline-block">{{ practiceSet.title }}</h5>
            </div>
          </li>
        </ul>
      </accordion-group><!-- end practice set tab -->

    </accordion>

  </div><!-- end add-question-body -->
</div>
<div class="modal-footer">
  <button 
    ng-click="$close();"
    class="btn btn-success">Done</button>
</div>
