<div class="modal-header">
  <h3 class="modal-title">Tutor</h3>
</div>
<div class="modal-body">
  <h4>What would you like to talk about?</h4>

  <div>
    <a
     ng-show="modalTutorCtrl.speechDetection"
     ng-click="modalTutorCtrl.toggleSpeechDetection()"
     class="fa fa-toggle-on nounderline"></a>
    <a
     ng-hide="modalTutorCtrl.speechDetection"
     ng-click="modalTutorCtrl.toggleSpeechDetection()"
     class="fa fa-toggle-off nounderline"></a>
    <span
      popover="Enables speech detection to assist in proper pronunciation. 
      While not perfect, its kind of fun!  Give a shot
      before you start recording your response."
      popover-trigger="mouseenter"
      popover-title="Speech Detection"
      class="date-sm"
      >Speech Detection</span>
  </div>

  <!-- tags -->
  <div class="tags-container">
    <span 
      ng-repeat="tag in modalTutorCtrl.tags"
      class="label label-default">
      {{ tag }}
    </span>   
  </div>
  <!-- end tags -->
 
  <h5
    ng-show="modalTutorCtrl.showTranscription"
    class="center">{{ modalTutorCtrl.speechRecognitionResults }}</h5>

  <a
   ng-show="modalTutorCtrl.tags.length > 0"
   ng-click="modalTutorCtrl.buildPracticeSet()"
   class="fa fa-2x fa-play nounderline center"></a>

</div>
