<div class="modal-header">
  <h3 class="modal-title">Schedule Practice</h3>
</div>
<div class="modal-body">
  <h4>When do you want to practice, we'll give you a call</h4>
  <div class="row">
    <div
        style="margin-top: 35px;" 
        class="col-md-6">
      <p class="input-group">
        <input
          type="text" 
          class="form-control" 
          datepicker-popup="{{modalSchedulePracticeSetCtrl.format}}" 
          ng-model="modalSchedulePracticeSetCtrl.scheduleDate" 
          is-open="modalSchedulePracticeSetCtrl.opened" 
          min-date="modalSchedulePracticeSetCtrl.minDate"
          datepicker-options="modalSchedulePracticeSetCtrl.dateOptions" 
          ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button 
            type="button" 
            class="btn btn-default" 
            ng-click="modalSchedulePracticeSetCtrl.open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
      </p>
    </div>
    <div class="col-md-3">
      <timepicker 
        ng-model="modalSchedulePracticeSetCtrl.scheduleDate" 
        hour-step="1" 
        minute-step="1" 
        show-meridian="ismeridian"></timepicker>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button
    class="btn btn-success"
    ng-click="modalSchedulePracticeSetCtrl.saveSchedule(); $close()">Save</button>
  <button class="btn btn-default" ng-click="$close()">Cancel</button>      
</div>
