<div class="modal-header">
  <h3 class="modal-title">Edit Tags</h3>
</div>
<div class="modal-body">
  <div id="add-tag-body">

  <p><a 
    ng-click="tagsCtrl.showHelp()"
    class="fa fa-question-circle nounderline"> <small>Help</small></a></p>
  <p><a 
    ng-click="tagsCtrl.showCreate = !tagsCtrl.showCreate"
    class="fa fa-plus-circle nounderline"> <small>Create Tag</small></a></p>


  <!-- add tag -->
  <div 
    ng-show="tagsCtrl.showCreate"
    class="add-tag-form">
    <form>
      <div class="form-group">
        <input 
           ng-model="tagsCtrl.newTag.speaksText"
           type="text" 
           class="form-control input-sm" 
           placeholder="{{tagsCtrl.speaksCode}} Text" 
           tamodelex="3">
      </div>
      <div class="form-group">
        <input 
           ng-model="tagsCtrl.newTag.learningText"
           type="text" 
           class="form-control input-sm" 
           placeholder="{{tagsCtrl.learningCode}} Text" 
           tamodelex="3">
      </div>
      <button 
        ng-click="tagsCtrl.createTag()"
        class="btn btn-xs btn-success">Create</button>
    </form>
  </div>
  <!-- end add tag -->

  <!-- tags list -->
  <div class="tags-list-container">
    <div class="row">
      <div class="col-sm-5">
        <flag-icon language-code="{{tagsCtrl.speaksCode}}"/>
      </div>
      <div class="col-sm-5">
        <flag-icon language-code="{{tagsCtrl.learningCode}}"/>
      </div>
    </div>
    <ul 
      when-scrolled="tagsCtrl.loadMoreTags()"
      class="tags-list list-unstyled">
      <li ng-repeat="tag in tagsCtrl.tags">

        <div class="tag">
          <div class="col-sm-5">
            <p
              ng-hide="tag.showEdit">{{ tag.text.translations[tagsCtrl.speaksCode] }}</p>
            <input
              ng-show="tag.showEdit" 
              ng-model="tag.text.translations[tagsCtrl.speaksCode]"
              class="form-control input-sm" 
              type="text" />
          </div>
          <div class="col-sm-5">
            <p
              ng-hide="tag.showEdit">{{ tag.text.translations[tagsCtrl.learningCode] }}</p>
            <input
              ng-show="tag.showEdit" 
              ng-model="tag.text.translations[tagsCtrl.learningCode]"
              class="form-control input-sm" 
              type="text" />
          </div>
          <div class="col-sm-2">
            <a 
              ng-hide="tag.showEdit" 
              ng-click="tagsCtrl.removeTag(tag)"
              class="fa fa-trash nounderline"></a>
            <a 
              ng-hide="tag.showEdit" 
              ng-click="tag.showEdit = !tag.showEdit"
              class="fa fa-pencil nounderline"></a>
            <a 
              ng-show="tag.showEdit" 
              ng-click="tag.showEdit = !tag.showEdit"
              class="fa fa-close nounderline"></a>
            <a 
              ng-show="tag.showEdit" 
              ng-click="tagsCtrl.saveTag(tag); tag.showEdit = !tag.showEdit"
              class="fa fa-save nounderline"></a>
          </div>
        </div>

      </li>
    </ul>
  </div> <!-- end tags list -->

  </div><!-- end add-tag-body -->
</div>
<div class="modal-footer">
  <button 
    ng-click="$close();"
    class="btn btn-success">Done</button>
</div>
