<div class="modal-header">
  <h3 class="modal-title">Review Practice Session</h3>
</div>
<div class="modal-body container">
  <div ng-repeat="audio in modalReviewPracticeSessionCtrl.practiceSession.audio">
    <div ng-switch="audio.context" class="row">

      <article ng-switch-when="question" class="col-sm-12 col-md-12">
        <div class="">

          <div class="inline-block">
            <div class="pull-left">
              <user-pin user="audio.submitted_by">
              </user-pin>
            </div>
            <div class="pull-right">
              <h5><span>asked</span></h5>
              <p class="date-sm">{{  audio._created | niceDate }}</p>
            </div>
          </div>

          <div class="bubble-left inline-block center">
            <p>{{ audio.question_text }}</p>
            <audio-player 
              class="inline-block"
              recording="audio" 
              context="question" />
            </audio-player>
            <div class="inline-block">
              <a
                class="fa fa-2x fa-comments text-primary nounderline spaced" 
                ng-click="modalReviewPracticeSessionCtrl.showComment(audio)"
                tooltip="comment"></a>
            </div>
          </div>

        </div>
      </article>

      <article ng-switch-when="answer" class="col-sm-6 col-md-6">
        <div class="pull-right">

          <div class="bubble-right inline-block center">
            <audio-player 
              class="inline-block"
              recording="audio" 
              context="answer" />
            </audio-player>
            <div class="inline-block">
              <a
                class="fa fa-2x fa-pencil text-primary nounderline spaced"
                ng-click="modalReviewPracticeSessionCtrl.showTranscribe(audio)"
                tooltip="transcribe"></a>
              <a
                class="fa fa-2x fa-comments text-primary nounderline spaced" 
                ng-click="modalReviewPracticeSessionCtrl.showComment(audio)"
                tooltip="comment"></a>
            </div>
          </div>

          <div class="inline-block">
            <div class="pull-right">
              <user-pin user="audio.submitted_by">
              </user-pin>
            </div>
            <div class="pull-left">
              <h5><span>replied</span></h5>
              <p class="date-sm">{{  audio._created | niceDate }}</p>
            </div>
          </div>

        </div>
      </article>

    </div>
  </div>
</div>
<div class="modal-footer">
  <button 
    ng-click="$close();"
    class="btn btn-success">Done</button>
  <button class="btn btn-default" ng-click="$close()">Cancel</button>      
</div>
