<div class="popover-content">
  <div class="tags-select">
    <ui-select
      multiple 
      ng-model="questionCardCtrl.question.tags" 
      theme="bootstrap" 
      ng-disabled="disabled" 
      style="width: 250px;">
      <ui-select-match placeholder="Select tags...">
        {{ $item.text.translations[questionCardCtrl.speaksCode] }}
      </ui-select-match>
      <ui-select-choices repeat="tag in questionCardCtrl.availableTags | filter:$select.search">
        {{ tag.text.translations[questionCardCtrl.speaksCode] }}
      </ui-select-choices>
    </ui-select>
    <p class="pull-right"><small>Click above and start typing to lookup tags</small></p>
  </div>
  <div>
    <button class="btn btn-xs btn-danger" ng-click="hidePopover()">Cancel</button>
    <button class="btn btn-xs btn-success" ng-click="questionCardCtrl.updateTags(); hidePopover();">Save</button>
  </div>
</div>
