<h3 class="popover-title center">
Available Recording 
</h3>
<div class="popover-content">

<div class="player-nav-popup row">
  <div class="pull-left">
    <a
      tooltip="previous"
      ng-click="questionCardCtrl.prevQuestionRecording(questionCardCtrl.question)"
      class="fa fa-2x fa-caret-left nounderline"></a>
  </div>

  <div class="pull-left">
    <div class="inline-user-pin">
      <user-pin user="questionCardCtrl.audioUser">
      </user-pin>
    </div>
  </div>

  <div class="pull-left">
    <a
      tooltip="next"
      ng-click="questionCardCtrl.nextQuestionRecording(questionCardCtrl.question)"
      class="fa fa-2x fa-caret-right nounderline"></a>
  </div>

  <div class="pull-left">
    <a
      class="fa fa-2x fa-comments text-primary nounderline spaced" 
      ng-click="questionCardCtrl.showComment(questionCardCtrl.question.currentRecording)"
      tooltip="comment"></a>
  </div>
</div>

