<h3>Practice Sets
   <small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small>
</h3>
<div ng-controller="PracticeSetsController as practice" class="row-masonry row-masonry-xl-3 row-masonry-lg-3 row-masonry-md-3 row-masonry-sm-2">
   <!-- START row-->
   <div ng-repeat="set in practice.sets" class="col-masonry">
      <!-- START new-widget-->
      <div ng-if="$first" class="panel new-widget">
         <div class="panel-body">
            <div class="text-right text-muted">
               <div uib-dropdown="" style="" class="input-group-btn dropdown">
                  <button type="button" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false" ng-click="practice.newSet.editing = true" class="btn btn-sm btn-default dropdown-toggle">{{ (practice.newSet.category) ? practice.newSet.category : 'Type' }}
                     <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right">
                     <li><a ng-click="practice.newSet.category='memory'">Memory</a>
                     </li>
                     <li><a ng-click="practice.newSet.category='tandem'">Tandem</a>
                     </li>
                     <li><a ng-click="practice.newSet.category='live'">Live</a>
                     </li>
                  </ul>
               </div>
            </div>
            <h3 translate-text="translate-text" send="false" model="practice.newSet.title" initial-text="Click here to enter title" ng-click="practice.newSet.editing = true" class="mt0"></h3>
            <p translate-text="translate-text" send="false" model="practice.newSet.description" initial-text="Click here to enter description" ng-click="practice.newSet.editing = true" class="text-muted"></p>
            <div class="text-center">
               <button ng-click="practice.createPracticeSet()" ng-class="{ 'muted': !practice.newSet.editing }" class="btn btn-sm btn-success">Add</button>
            </div>
         </div>
      </div>
      <!-- END new-widget-->
      <!-- START widget-->
      <div class="panel widget">
         <div class="panel-body">
            <div class="text-right text-muted">
               <em ng-show="set.category === 'memorize'" class="fa fa-gamepad fa-2x"></em>
               <em ng-hide="set.category === 'memorize'" class="fa fa-users fa-2x"></em>
            </div>
            <h3 class="mt0">{{ set.title }}</h3>
            <p class="text-muted">{{ set.description.translations[user.speaks] }}</p>
            <div class="progress progress-striped progress-xs">
               <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="70" class="progress-bar progress-bar-warning progress-60">
                  <span class="sr-only">60% Memorized</span>
               </div>
            </div>
            <div class="text-center">
               <button ng-click="practice.playPracticeSet(set)" class="btn btn-sm btn-success">Play</button>
               <button ng-click="practice.editPracticeSet(set)" class="btn btn-sm btn-success">Edit</button>
               <button ng-click="practice.deletePracticeSet(set._id)" class="btn btn-sm btn-success">Delete</button>
               <button ng-click="practice.schedulePracticeSet(set._id)" class="btn btn-sm btn-success">Schedule</button>
            </div>
         </div>
      </div>
      <!-- END widget-->
   </div>
</div>