<div ng-controller="ProfileViewController as profile" class="unwrap">
   <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'time-out': '10000'}"></toaster-container>
   <div style="background-image: url(app/img/profile-bg.jpg)" class="bg-cover">
      <div class="p-xl text-center text-white">
         <a href="" ng-click="profile.openImageCrop()">
            <img ng-src="{{ user.picture }}" alt="Image" class="img-thumbnail img-circle thumb128" />
         </a>
         <h3 class="m0">{{ profile.user.fullName }}</h3>
         <p>Learning {{ session.learningText }}</p>
         <p class="form-control-static"><a href="#" editable-textarea="profile.user.introduction" e-rows="3" e-cols="60" onaftersave="profile.showUpdate = true" class="profile-intro-editable">{{ profile.user.introduction }}</a>
         </p>
      </div>
   </div>
   <div class="text-center bg-gray-dark p-lg mb-xl">
      <div class="row row-table">
         <div class="col-xs-4 br">
            <h3 class="m0">{{ user.totalRecordings }}</h3>
            <p class="m0">
               <span class="hidden-xs">Total</span>
               <span>Recordings</span>
            </p>
         </div>
         <div class="col-xs-4 br">
            <h3 class="m0">{{ user.totalRatings }}</h3>
            <p class="m0">Ratings</p>
         </div>
         <div class="col-xs-4">
            <h3 class="m0">{{ user.totalComments }}</h3>
            <p class="m0">Comments</p>
         </div>
      </div>
   </div>
   <div class="p-lg">
      <div class="row">
         <div class="col-lg-9">
            <!-- START timeline-->
            <ul class="timeline">
               <!-- START timeline item-->
               <li ng-repeat="event in profile.timeline" ng-class="{'timeline-inverted': $even &amp;&amp; (event.action != 'separator'), 'timeline-separator': event.action == 'separator'}" data-datetime="{{event.date}}">
                  <div ng-class="event.color" ng-if="event.action != 'separator'" class="timeline-badge">
                     <em ng-class="event.icon"></em>
                  </div>
                  <div ng-if="event.action != 'separator'" class="timeline-panel">
                     <div ng-class="$odd  ? 'left' : 'right'" class="popover">
                        <div class="arrow"></div>
                        <div class="popover-content">
                           <div class="table-grid table-grid-align-middle mb">
                              <div class="col col-xs">
                                 <img ng-src="{{ event.profile }}" alt="Image" class="media-object img-circle thumb48" />
                              </div>
                              <div class="col">
                                 <p class="m0">
                                    <a href="#" class="text-muted">
                                       <strong>{{ event.submittedBy }}</strong>
                                    </a>{{ event.action }}</p>
                              </div>
                           </div>
                           <p>
                              <em>{{ event.link }}</em>
                           </p>
                        </div>
                     </div>
                  </div>
               </li>
               <!-- END timeline item-->
               <!-- START timeline item-->
               <li class="timeline-end">
                  <a href="#" class="timeline-badge">
                     <em class="fa fa-plus"></em>
                  </a>
               </li>
               <!-- END timeline item-->
            </ul>
            <!-- END timeline-->
         </div>
         <div class="col-lg-3">
            <div class="panel panel-default">
               <div class="panel-body">
                  <div class="text-center">
                     <div ng-show="user.percentComplete &lt; 50" class="radial-bar radial-bar radial-bar-danger m0"></div>
                     <div ng-show="user.percentComplete &gt; 90" class="radial-bar radial-bar radial-bar-success m0">
                        <img src="{{ user.picture }}" alt="" />
                     </div>
                     <p>
                        <strong>{{ user.percentComplete }}%</strong>
                        <span>complete</span>
                     </p>
                  </div>
                  <div class="form-horizontal">
                     <div class="text-center">
                        <div class="form-group m0">
                           <h3 class="form-control-static"><a href="#" editable-text="profile.user.fullName" onaftersave="profile.showUpdate = true">{{ profile.user.fullName }}</a>
                           </h3>
                        </div>
                     </div>
                  </div>
                  <hr/>
                  <ul class="list-unstyled">
                     <li>
                        <em class="fa fa-home fa-fw mr-lg"></em><a href="#" editable-text="profile.user.location" onaftersave="profile.showUpdate = true">{{ profile.user.location }}</a>
                     </li>
                     <li>
                        <em class="fa fa-envelope fa-fw mr-lg"></em><a href="#" editable-email="profile.user.email" onaftersave="profile.showUpdate = true">{{ profile.user.email }} </a>
                     </li>
                     <li>
                        <em class="fa fa-graduation-cap fa-fw mr-lg"></em><a href="#" editable-select="profile.user.learning" onaftersave="profile.showUpdate = true" e-ng-options="s.code as s.text for s in profile.languages">{{ profile.showLearningLanguage() }}</a>
                     </li>
                     <li>
                        <em class="fa fa-check fa-fw mr-lg"></em><a href="#" editable-select="profile.user.speaks" onaftersave="profile.showUpdate = true" e-ng-options="s.code as s.text for s in profile.languages">{{ profile.showSpeaksLanguage() }}</a>
                     </li>
                  </ul>
                  <div ng-show="profile.showUpdate" class="pull-right">
                     <button ng-click="profile.showUpdate = false" class="btn btn-danger btn-xs">Cancel</button>
                     <button ng-click="profile.update()" class="btn btn-success btn-xs">Save Profile</button>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="list-group">
                  <a href="#" class="list-group-item">
                     <em class="pull-right fa fa-volume-off fa-lg fa-fw text-muted mt"></em>
                     <h4 class="list-group-item-heading">{{ user.totalRecordings }}</h4>
                     <p class="list-group-item-text">Recordings</p>
                  </a>
                  <a href="#" class="list-group-item">
                     <em class="pull-right fa fa-rss fa-lg fa-fw text-muted mt"></em>
                     <h4 class="list-group-item-heading">{{ user.totalAnswers }}</h4>
                     <p class="list-group-item-text">Answers</p>
                  </a>
                  <a href="#" class="list-group-item">
                     <em class="pull-right fa fa-question fa-lg fa-fw text-muted mt"></em>
                     <h4 class="list-group-item-heading">{{ user.totalQuestions }}</h4>
                     <p class="list-group-item-text">Questions</p>
                  </a>
                  <a href="#" class="list-group-item">
                     <em class="pull-right fa fa-comments fa-lg fa-fw text-muted mt"></em>
                     <h4 class="list-group-item-heading">{{ user.totalResponses }}</h4>
                     <p class="list-group-item-text">Responses</p>
                  </a>
                  <a href="#" class="list-group-item">
                     <em class="pull-right fa fa-briefcase fa-lg fa-fw text-muted mt"></em>
                     <h4 class="list-group-item-heading">{{ user.totalPracticeSets }}</h4>
                     <p class="list-group-item-text">Practice Sets</p>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>