<!-- card -->
<div 
  class="question card" 
  ng-mouseover="questionCardCtrl.onHover()"
  ng-mouseleave="questionCardCtrl.onHoverEnd()"
  ng-class="questionCardCtrl.question.cardClass">

  <div class="front">

    <!-- tags -->
    <div class="tags-container">
      <span 
        ng-repeat="tag in questionCardCtrl.question.tags"
        class="label label-default">
        {{ tag.text.translations[questionCardCtrl.learningCode] }}
      </span>   
    </div>
    <!-- end tags -->

    <div 
      ng-click="questionCardCtrl.flipCard()"
      class="pull-right">
      <flag-icon language-code="{{ questionCardCtrl.learningCode }}" />
    </div>

    <div class="question-text">
      <h5 class="inline-block">
        {{ questionCardCtrl.question.text.translations[questionCardCtrl.learningCode] }}
      </h5>
    </div>

    <!-- start toolbars front -->
    <div 
      ng-show="questionCardCtrl.question.hasQuestionRecording[questionCardCtrl.learningCode]"
      class="tool-bar row">
      <div 
        ng-hide="questionCardCtrl.question.showPreviewControls"
        class="col-md-4">
        <a  
          ng-click="questionCardCtrl.togglePreview(questionCardCtrl.learningCode)"
          class="fa fa-2x fa-volume-up nounderline"></a>
      </div>
      <div 
          ng-show="questionCardCtrl.question.showPreviewControls"
          class="col-md-4">
        <a  
          ng-click="questionCardCtrl.question.showPreviewControls = !questionCardCtrl.question.showPreviewControls"
          class="fa fa-2x fa-volume-off nounderline pull-left"></a>

        <!-- AUDIO PLAYER -->
        <div
          class="pull-left"
          popup-placement="top"
          popup-show="views/popover-player-nav.html" >
          <audio-player 
            url="{{ questionCardCtrl.audioUrl }}"
            auto-play="true"
            context="question">
          </audio-player>
        </div>
        <!-- AUDIO PLAYER -->

      </div>

      <div class="col-md-4 pull-right">
        <div class="pull-right">
          <a 
            ng-show="questionCardCtrl.question.hasUserRecording"
            tooltip="Add to Practice Set"
            ng-click="questionCardCtrl.addQuestion(questionCardCtrl.question)" 
            class="fa fa-2x fa-plus-square nounderline"></a>
          <a 
            ng-hide="questionCardCtrl.question.hasUserRecording"
            tooltip="Add Audio" 
            ng-click="questionCardCtrl.addQuestion(questionCardCtrl.question)" 
            class="fa fa-2x fa-microphone nounderline"></a>
        </div>
        <div class="spaced pull-right">
          <a
            ng-show="questionCardCtrl.isAdmin && questionCardCtrl.hovering"
            ng-click="questionCardCtrl.removeQuestion(questionCardCtrl.question._id)"
            class="fa fa-2x fa-trash-o nounderline"></a>
        </div>
        <div class="pull-right">
          <a
            ng-show="questionCardCtrl.isAdmin && questionCardCtrl.hovering"
            popup-placement="top"
            popup-show="views/popover-tags.html" 
            class="fa fa-2x fa-tags nounderline"></a>
        </div>
      </div>
    </div><!-- end toolbar for audio -->

    <div 
      ng-hide="questionCardCtrl.question.hasQuestionRecording[questionCardCtrl.learningCode]"
      class="tool-bar pull-right">
      <a
        ng-show="questionCardCtrl.isAdmin && questionCardCtrl.hovering"
        ng-click="questionCardCtrl.removeQuestion(questionCardCtrl.question._id)"
        class="fa fa-2x fa-trash-o nounderline"></a>
      <a 
        tooltip="Add Recording"
        ng-click="questionCardCtrl.addQuestion(questionCardCtrl.question)"
        class="fa fa-2x fa-microphone nounderline"></a>
    </div><!-- end toolbar no audio -->

  </div><!-- end front -->

  <div class="back">

    <!-- tags -->
    <div class="tags-container">
      <span 
        ng-repeat="tag in questionCardCtrl.question.tags"
        class="label label-default">
        {{ tag.text.translations[questionCardCtrl.speaksCode] }}
      </span>   
    </div>
    <!-- end tags -->

    <div 
      ng-click="questionCardCtrl.flipCard()"
      class="pull-right">
      <flag-icon language-code="{{ questionCardCtrl.speaksCode }}" />
    </div>
    <div class="question-text">
      <h5 class="inline-block">{{ questionCardCtrl.question.text.translations[questionCardCtrl.speaksCode] }}</h5>
    </div>

    <!-- start toolbars back -->
    <div 
      ng-show="questionCardCtrl.question.hasQuestionRecording[questionCardCtrl.speaksCode]"
      class="tool-bar row">
      <div 
        ng-hide="questionCardCtrl.question.showPreviewControls"
        class="col-md-4">
        <a  
          ng-click="questionCardCtrl.togglePreview(questionCardCtrl.question, questionCardCtrl.speaksCode)"
          class="fa fa-2x fa-volume-up nounderline"></a>
      </div>
      <div 
          ng-show="questionCardCtrl.question.showPreviewControls"
          class="col-md-4">
        <a  
          ng-click="questionCardCtrl.question.showPreviewControls = !questionCardCtrl.question.showPreviewControls"
          class="fa fa-2x fa-volume-off nounderline pull-left"></a>

        <!-- AUDIO PLAYER -->
        <div 
          class="pull-left"
          popup-placement="top"
          popup-show="views/popover-player-nav.html" >
          <audio-player 
            auto-play="true"
            url="{{ questionCardCtrl.audioUrl }}" 
            context="question">
          </audio-player>
        </div>
        <!-- AUDIO PLAYER -->

      </div>

      <div class="col-md-4 pull-right">
        <div class="pull-right">
          <a 
            ng-show="questionCardCtrl.question.hasUserRecording"
            tooltip="Add to Practice Set"
            ng-click="questionCardCtrl.addQuestion(questionCardCtrl.question)" 
            class="fa fa-2x fa-plus-square nounderline"></a>
          <a 
            ng-hide="questionCardCtrl.question.hasUserRecording"
            tooltip="Add to Practice Set"
            ng-click="questionCardCtrl.addQuestion(questionCardCtrl.question)" 
            class="fa fa-2x fa-microphone nounderline"></a>
        </div>
        <div class="spaced pull-right">
          <a
            ng-show="questionCardCtrl.isAdmin && questionCardCtrl.hovering"
            ng-click="questionCardCtrl.removeQuestion(questionCardCtrl.question._id)"
            class="fa fa-2x fa-trash-o nounderline"></a>
        </div>
      </div>
    </div><!-- end toolbar for audio -->
    <div 
      ng-hide="questionCardCtrl.question.hasQuestionRecording[questionCardCtrl.speaksCode]"
      class="tool-bar pull-right">
      <a
        ng-show="questionCardCtrl.isAdmin && questionCardCtrl.hovering"
        ng-click="questionCardCtrl.removeQuestion(questionCardCtrl.question._id)"
        class="fa fa-2x fa-trash-o nounderline"></a>
      <a 
        tooltip="Add Recording"
        ng-click="questionCardCtrl.addQuestion(questionCardCtrl.question)"
        class="fa fa-2x fa-microphone nounderline"></a>
    </div><!-- end toolbar no audio -->

  </div><!-- end back -->
</div><!-- end question-card -->
