<h3>Questions
   <small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small>
</h3>
<div ng-controller="QuestionsController as questions">
   <div class="row">
      <div class="pull-right"><a ng-click="questions.openCreateQuestionModal()" class="btn btn-default btn-sm">Create Question </a>
      </div>
   </div>
   <div infinite-scroll="questions.loadMore()" infinite-scroll-distance="3" class="row">
      <div ng-repeat="question in questions.questions" class="col-lg-4">
         <!-- START widget-->
         <div class="panel widget">
            <div class="row row-table row-flush">
               <!--.col-xs-5picture.lateral-picture
  img(src="app/img/bg2.jpg", alt="", ng-click='questions.openImageSelectModal(question)')-->
               <!--.col-xs-7.align-middle.p-lg-->
               <div class="col-xs-12 align-middle p-lg">
                  <h4>
                     <strong>{{ ::question.text.translations[questions.session.learning] }}</strong>
                  </h4>
                  <p ng-show="app.translation.show">
                     <small>{{ ::question.text.translations[questions.session.speaks] }}</small>
                  </p>
                  <p class="pull-right">
                     <em ng-click="questions.openAddQuestionAudioModal(question)" class="btn btn-sm fa fa-microphone"></em>
                     <em ng-click="" class="btn btn-sm fa fa-plus"></em>
                     <em ng-click="questions.openEditQuestionModal(question)" class="btn btn-sm fa fa-cog"></em>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>