<a ng-show="recorderCtrl.showMicrophone" ng-click="recorderCtrl.startRecording()" class="fa fa-2x fa-microphone nounderline"></a>
<a ng-show="recorderCtrl.recording" ng-click="recorderCtrl.stopRecording('add-question-step-1', recorderCtrl.learningCode)" class="fa fa-2x fa-pause nounderline"></a>
<div id="spinner" ng-show="recorderCtrl.processing" class="inline-block">
   <div id="block_1" class="spinner_block"></div>
   <div id="block_2" class="spinner_block"></div>
   <div id="block_3" class="spinner_block"></div>
</div>
<div class="player inline-block">
   <a ng-show="recorderCtrl.previewPlaying" ng-click="recorderCtrl.pausePreview()" tooltip="start recording" class="fa fa-2x fa-pause nounderline"></a>
   <a ng-show="recorderCtrl.showPlayPreview" ng-click="recorderCtrl.playPreview()" tooltip="play recording" class="fa fa-2x fa-play nounderline"></a>
</div>
<a ng-click="recorderCtrl.saveRecording()" ng-show="recorderCtrl.showSave" tooltip="save" class="fa fa-2x fa-thumbs-up nounderline"></a>