<!-- AUDIO RECORDER -->                                                                          
<a 
  class="fa fa-2x fa-microphone nounderline"                                                   
  ng-show="recorderCtrl.showMicrophone"                                                     
  ng-click="recorderCtrl.startRecording()"></a>                                        
<a
  class="fa fa-2x fa-pause nounderline"                                                        
  ng-show="recorderCtrl.recording"                                                     
  ng-click="recorderCtrl.stopRecording('add-question-step-1', recorderCtrl.learningCode)"></a>
<!-- end AUDIO RECORDER -->                                                                          

<!-- AUDIO PLAYER -->                                                                          
<div                                                                                           
  ng-show="recorderCtrl.processing"                                                    
  class="inline-block"                                                                         
  id="spinner">
  <div id="block_1" class="spinner_block"></div>                                               
  <div id="block_2" class="spinner_block"></div>                                               
  <div id="block_3" class="spinner_block"></div>                                               
</div> 
<div 
  class="player inline-block">
    <a
      ng-show="recorderCtrl.previewPlaying"
      ng-click="recorderCtrl.pausePreview()"
      tooltip="start recording"
      class="fa fa-2x fa-pause nounderline"></a>
    <a
      ng-show="recorderCtrl.showPlayPreview"
      ng-click="recorderCtrl.playPreview()"
      tooltip="play recording"
      class="fa fa-2x fa-play nounderline"></a>
</div>
<!-- end AUDIO PLAYER -->                                                                          

<!--SAVE -->
<a
  class="fa fa-2x fa-thumbs-up nounderline"
  tooltip="save"
  ng-show="recorderCtrl.showSave" 
  ng-click="recorderCtrl.saveRecording()"></a>
<!--end SAVE -->
