<div class="container">

  <div class="col-sm-6 col-md-6 pull-right">
    <form class="navbar-form" role="search">
      <div class="input-group input-search">
        <input
          ng-model="reviewCtrl.searchText"
          type="text" 
          class="form-control" 
          placeholder="Search" 
          name="srch-term">

        <div class="input-group-btn">
          <button
            ng-click="reviewCtrl.search()"
            class="btn btn-default" 
            type="submit">
            <i class="fa fa-search"></i>
          </button>

          <button 
            tooltip="filter"
            ng-click="reviewCtrl.showRecordingFilterModal()"
            class="btn btn-default"> 
            <i class="fa fa-filter"></i>
          </button>

          <button 
            ng-show="reviewCtrl.isAdmin" 
            ng-click="reviewCtrl.createQuestionModal()"
            tooltip="add question"
            class="btn btn-default"> 
            <i class="fa fa-plus-square"></i>
          </button>
        </div>

      </div>
    </form>
  </div>

  <h2 ng-show="reviewCtrl.displayRecording">Recording</h2>
  <h2 ng-show="reviewCtrl.displayPracticeSessions">Practice Sessions</h2>
  <p><a 
    ng-click="reviewCtrl.showHelp()"
    class="fa fa-question-circle nounderline"> <small>Help</small></a></p>
  <p><a 
    ng-click="reviewCtrl.showRecording()"
    class="fa fa-volume-up nounderline"> <small>Recording</small></a></p>
  <p><a 
    ng-click="reviewCtrl.showPracticeSessions()"
    class="fa fa-comments nounderline"> <small>Practice Sessions</small></a></p>

  <ul
    ng-show="reviewCtrl.displayRecording" 
    class="question-list list-unstyled"> 
    <li 
      class="question-list-item list-unstyled" 
      ng-repeat="audio in reviewCtrl.audios">
      <audio-card audio="audio" />
    </li><!-- end question-list -->
  </ul><!-- end question-list-container -->

  <ul
    ng-show="reviewCtrl.displayPracticeSessions" 
    class="question-list list-unstyled"> 
    <li 
      class="question-list-item list-unstyled" 
      ng-repeat="practiceSession in reviewCtrl.practiceSessions">
      <div>
        <p class="inline-block">
          <a ng-click="reviewCtrl.openPracticeSessionModal(practiceSession)" class="nounderline">{{ practiceSession.practice_set.title }}</a> by
        </p>
        <div class="inline-block">
          <user-pin user="practiceSession.submitted_by" />
          </user-pin>
        </div>
        <div class="inline-block">
          on <span class="date-sm">{{ practiceSession._created | niceDate }}</span>
        </div>

        </p>
      </div>
    </li><!-- end question-list -->
  </ul><!-- end question-list-container -->

</div><!-- end container -->

