<div class="container">

  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form
      name="signupForm"
      novalidate
      role="form" 
      ng-submit="signupCtrl.submitSignupForm(signupForm.$valid)">
      <h2>Please Sign Up <small>It's free and always will be.</small></h2>
      <hr class="colorgraph">
      <div class="form-group">
        <input 
          ng-model="signupCtrl.signupForm.username"
          ng-minlength="3"
          name="username"
          type="text" 
          class="form-control input-lg" 
          placeholder="Username" 
          tamodelex="1" required>
          <div ng-messages="signupForm.username.$error"
               ng-messages-include="views/messages.html">
          </div>
      </div>
      <div class="form-group">
        <select 
          ng-model="signupCtrl.signupForm.speaks"
          name="speaks"
          class="form-control input-lg"
          tamodelex="2" required>
          <option value="" selected disabled>Language Spoken</option>
          <option value="en">English</option>
          <option value="de">German</option>
        </select>
          <div ng-messages="signupForm.speaks.$error"
               ng-messages-include="views/messages.html">
          </div>
      </div>
      <div class="form-group">
        <select 
          ng-model="signupCtrl.signupForm.learning"
          name="learning"
          class="form-control input-lg"
          tamodelex="3" required>
          <option value="" selected disabled>Language Learning</option>
          <option value="de">German</option>
          <option value="en">English</option>
        </select>
          <div ng-messages="signupForm.learning.$error"
               ng-messages-include="views/messages.html">
          </div>
      </div>
      <div class="form-group">
        <input 
            ng-model="signupCtrl.signupForm.email"
            name="email"
            type="email" 
            class="form-control input-lg" 
            placeholder="Email Address" 
            tamodelex="4" required>
          <div ng-messages="signupForm.email.$error"
               ng-messages-include="views/messages.html">
          </div>
      </div>
      <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <input 
            ng-model="signupCtrl.signupForm.password"
            ng-minlength="3"
            name="password"
            type="password" 
            class="form-control input-lg" 
            placeholder="Password" 
            tamodelex="5" required>
          </div>
          <div ng-messages="signupForm.password.$error"
               ng-messages-include="views/messages.html">
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <input 
            ng-model="signupCtrl.signupForm.passowrd_confirmation"
            ng-minlength="3"
            compare-to="signupCtrl.signupForm.password"
            name="password_confirmation"
            type="password" 
            class="form-control input-lg" 
            placeholder="Confirm Password" 
            tamodelex="6" required>
          <div ng-messages="signupForm.password_confirmation.$error"
               ng-messages-include="views/messages.html">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-3">
        <span class="button-checkbox">
          <button 
            type="button" 
            ng-class="signupCtrl.userAgreed ? 'btn btn-primary': 'btn btn-default'" 
            ng-click="signupCtrl.userAgreed = !signupCtrl.userAgreed"
            tamodelex="7">
            <i
              ng-show="signupCtrl.userAgreed" 
              class="state-icon glyphicon glyphicon-check"></i>
            <i
              ng-hide="signupCtrl.userAgreed" 
              class="state-icon glyphicon glyphicon-unchecked"></i>
            I Agree
          </button>
        </span>
      </div>
      <div class="col-xs-8 col-sm-9 col-md-9">
        By clicking <strong class="label label-primary">Register</strong>, you agree to the <a data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
      </div>
    </div>
      
    <hr class="colorgraph">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <input 
          ng-disabled="signupForm.$invalid"
          type="submit" 
          value="Register" 
          class="btn btn-primary btn-block btn-lg" tamodelex="7">
      </div>
      <div class="col-xs-12 col-md-6">
        <a href="/" class="btn btn-success btn-block btn-lg">Sign In</a>
      </div>
    </div>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tamodelex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

