// START widgets box
.content(ng-controller='DashboardController as dashboard')
  .row
    .col-xs-3.text-center
      img(src='app/img/friends/yellow-tooth.png')
    .col-xs-9
      .text-left
        h2 What would you like to talk about?

      .text-left(ng-show='app.audio.speechRecognition')
        .more-spacey
          i.fa.fa-4x.fa-microphone
          h4 {{ dashboard.speech }}
        p.small You can also type your answer, just disable speech detection.

      .text-left(ng-hide='app.audio.speechRecognition')
        .row
          .col-xs-10
            //input.spacey.form-control(ng-model='dashboard.answer')
            ui-select(multiple='', ng-model='dashboard.typedTags', theme='bootstrap')
              ui-select-match(placeholder='Select 2 topics...') {{ $item.text.translations[session.speaks] }}
              ui-select-choices(repeat='tag in dashboard.tagOptions | propsFilter: { speaks: $select.search}') {{ tag.text.translations[session.speaks] }}    
          .col-xs-2
            button.btn-circle.btn.btn-success(ng-click='dashboard.submitAnswer()')
              i.fa.fa-2x.fa-check
        p.small You can also speak your answer, just enable speech detection.

      .text-left
        a.fa.fa-2x.fa-toggle-on.nounderline(ng-show='app.audio.speechRecognition', ng-click='dashboard.toggleSpeechRecognition()')
        a.fa.fa-2x.fa-toggle-off.nounderline(ng-hide='app.audio.speechRecognition', ng-click='dashboard.toggleSpeechRecognition()')
        span Speech Recognition

  .row(ng-show='app.debug')
    h3 Suggested Topics
    ul
      li(ng-repeat='tag in dashboard.selectedTags track by tag._id')
        h4 {{ tag.text.translations[session.speaks] }}

    h3 Suggested Questions
    ul
      li(ng-repeat='question in dashboard.tandemQuestions track by $index')
        h4 {{ question.text.translations[session.learning] }}
          em.fa.fa-play(ng-click='dashboard.speak(question)')
        p {{ question.text.translations[session.speaks] }}

