h3
  | Practice Sets
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !

.row-masonry.row-masonry-xl-3.row-masonry-lg-3.row-masonry-md-3.row-masonry-sm-2(ng-controller="PracticeSetsController as practice") 
  // START row
  .col-masonry(ng-repeat="set in practice.sets")
    // START new-widget
    .panel.new-widget(ng-if='$first')
      .panel-body
        .text-right.text-muted
          .input-group-btn.dropdown(uib-dropdown='', style='')
             button.btn.btn-sm.btn-default.dropdown-toggle(type='button', uib-dropdown-toggle='', aria-haspopup='true', aria-expanded='false', ng-click='practice.newSet.editing = true')
               | {{ (practice.newSet.category) ? practice.newSet.category : 'Type' }} 
               span.caret
             ul.dropdown-menu.pull-right
               li
                 a(ng-click="practice.newSet.category='memory'") Memory
               li
                 a(ng-click="practice.newSet.category='tandem'") Tandem
               li
                 a(ng-click="practice.newSet.category='live'") Live
        h3.mt0(translate-text, send='false', model='practice.newSet.title', initial-text='Click here to enter title', ng-click='practice.newSet.editing = true')
        p.text-muted(translate-text, send='false', model='practice.newSet.description', initial-text='Click here to enter description', ng-click='practice.newSet.editing = true')
        .text-center
          button.btn.btn-sm.btn-success(ng-click='practice.createPracticeSet()', ng-class="{ 'muted': !practice.newSet.editing }") Add
    // END new-widget
    // START widget
    .panel.widget
      .panel-body
        .text-right.text-muted
          em.fa.fa-gamepad.fa-2x(ng-show="set.category === 'memorize'")
          em.fa.fa-users.fa-2x(ng-hide="set.category === 'memorize'")
        h3.mt0 {{ set.title }}
        p.text-muted {{ set.description.translations[user.speaks] }}
        .progress.progress-striped.progress-xs
          .progress-bar.progress-bar-warning.progress-60(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='70')
            span.sr-only 60% Memorized
        .text-center
          button.btn.btn-sm.btn-success(ng-click='practice.playPracticeSet(set)') Play
          button.btn.btn-sm.btn-success(ng-click='practice.editPracticeSet(set)') Edit
          button.btn.btn-sm.btn-success(ng-click='practice.deletePracticeSet(set._id)') Delete
          button.btn.btn-sm.btn-success(ng-click='practice.schedulePracticeSet(set._id)') Schedule
        
    // END widget
