a.fa.fa-2x.fa-microphone.nounderline(ng-show="recorderCtrl.showMicrophone", ng-click="recorderCtrl.startRecording()")
a.fa.fa-2x.fa-pause.nounderline(ng-show="recorderCtrl.recording", ng-click="recorderCtrl.stopRecording('add-question-step-1', recorderCtrl.learningCode)")

div#spinner.inline-block(ng-show="recorderCtrl.processing")
  div#block_1.spinner_block
  div#block_2.spinner_block
  div#block_3.spinner_block
div.player.inline-block
  a.fa.fa-2x.fa-pause.nounderline(ng-show="recorderCtrl.previewPlaying", ng-click="recorderCtrl.pausePreview()", tooltip="start recording")
  a.fa.fa-2x.fa-play.nounderline(ng-show="recorderCtrl.showPlayPreview", ng-click="recorderCtrl.playPreview()", tooltip="play recording")

a.fa.fa-2x.fa-thumbs-up.nounderline(ng-click="recorderCtrl.saveRecording()", ng-show="recorderCtrl.showSave", tooltip="save")
