.modal-header
  h3
    i.fa.fa-question-circle
    |  {{title}}
.modal-body
  p {{text}}
.modal-footer
  button.btn.btn-primary(ng-click='ok()') OK
  button.btn.btn-default(ng-click='cancel()') Cancel
