.modal-body
  .container-fluid.text-center
    h4 When do you want to practice, we'll give you a call
    .row
      .col-md-6(style='margin-top: 35px;')
        p.input-group
          input.form-control(type='text', uib-datepicker-popup='{{modalSchedule.format}}', ng-model='modalSchedule.scheduleDate', is-open='modalSchedule.opened', min-date='modalSchedule.minDate', datepicker-options='modalSchedule.dateOptions', ng-required='true', close-text='Close')
          span.input-group-btn
            button.btn.btn-default(type='button', ng-click='modalSchedule.open($event)')
              i.glyphicon.glyphicon-calendar
      .col-md-3
        uib-timepicker(ng-model='modalSchedule.scheduleDate', hour-step='1', minute-step='1', show-meridian='ismeridian')

  .text-center
    button.btn.btn-circle.btn-danger.btn-large(ng-click='$close()')
      i.fa.fa-times
    button.btn.btn-circle.btn-success.btn-large(ng-click='modalSchedule.saveSchedule(); $close()')
      i.fa.fa-check

