// BEFORE </head>
script(type='text/javascript').
  //<![CDATA[
  var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
  document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
  //]]>
// BEFORE </body>
script(language='JavaScript', type='text/javascript').
  TrustLogo("https://tandem.marklewis.me/app/img/comodo_secure_76x26_transp.png", "CL1", "none");
a#comodoTL(href='https://www.positivessl.com/') Positive SSL
